<ul class="nav nav-list">
	<li class="nav-header">列表标题</li>
	<li><a href="<?php echo ComTool::url ('kickuass/group'); ?>">添加群组</a></li>
	<li><a href="<?php echo ComTool::url ('kickuass/cate'); ?>">添加分类</a></li>
	<li><a href="<?php echo ComTool::url ('kickuass/store'); ?>">添加店铺</a></li>
	<li><a href="<?php echo ComTool::url ('kickuass/region'); ?>">添加区域</a></li>
	<li><a href="<?php echo ComTool::url ('kickuass/goods'); ?>">添加商品</a></li>
	<li class="nav-header">功能列表</li>
	<li><a href="#">资料</a></li>
	<li><a href="#">设置</a></li>
	<li class="divider"></li>
	<li><a href="#">帮助</a></li>
</ul>