<div class="module">
	<ul>
		<li class="<?php if(__ACTION__=='index'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>shop/index" class="list-link">店铺信息<span
				class="Icon Icon--caretRight"></span></a></li>
		<li class="<?php if(__ACTION__=='order'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>shop/order" class="list-link">今日订单<span
				class="Icon Icon--caretRight"></span></a></li>
		<li class="<?php if(__ACTION__=='cate'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>shop/cate" class="list-link">分类管理<span
				class="Icon Icon--caretRight"></span></a></li>
		<li class="<?php if(__ACTION__=='goods'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>shop/goods" class="list-link">商品管理<span
				class="Icon Icon--caretRight"></span></a></li>
		<li class="<?php if(__ACTION__=='qr'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>shop/qr" class="list-link">互联网名片
				<span class="Icon Icon--caretRight"></span>
		</a></li>
		<li class="<?php if(__ACTION__=='password'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>shop/password" class="list-link">修改密码
				<span class="Icon Icon--caretRight"></span>
		</a></li>
		<li class="<?php if(__ACTION__=='helper'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>shop/helper" class="list-link">用户指南
				<span class="Icon Icon--caretRight"></span>
		</a></li>
	</ul>
</div>