<div class="module">
	<ul>
		<li class="<?php if(__ACTION__=='index'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>manage/index" class="list-link">店铺信息<span
				class="Icon Icon--caretRight"></span></a></li>
		<li class="<?php if(__ACTION__=='index'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>manage/index" class="list-link">分类信息<span
				class="Icon Icon--caretRight"></span></a></li>
		<li class="<?php if(__ACTION__=='order'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>manage/order" class="list-link">商品列表<span
				class="Icon Icon--caretRight"></span></a></li>
		<li class="<?php if(__ACTION__=='password'){ ?>active<?php } ?>"><a
			href="<?php show($this->urlroot); ?>manage/password"
			class="list-link">互联网名片 <span class="Icon Icon--caretRight"></span>
		</a></li>
	</ul>
</div>