<div class="module trends">
	<div class="trends-inner">
		<div class="flex-module trends-container">
			<div class="flex-module-header">
				<h3>
					<span class="trend-location"> 趋势 </span>
				</h3>
				<small>· <a class="change-trends">更改</a></small>
			</div>
			<div class="flex-module-inner">
				<ul class="trend-items">
					<li class="trend-item"><a class="trend-name">#RuinACartoon</a></li>
					<li class="trend-item"><a class="trend-name">#RuinACartoon</a></li>
					<li class="trend-item"><a class="trend-name">#RuinACartoon</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>