<div class="module trends">
	<div class="trends-inner">
		<div class="flex-module trends-container">
			<div class="flex-module-header">
				<h3>
					<span class="trend-location"> 购物车 </span>
				</h3>
				<small>· <a class="change-trends">更改</a></small>
			</div>
			<div class="flex-module-inner">
				<table class="table product-cart-small">
					<thead>
						<tr>
							<th>名称</th>
							<th>价格</th>
							<th>数量</th>
						</tr>
					</thead>
					<tbody>
						<?php if(empty($this->products)){ ?>
						<?php }else{ ?>
						<?php foreach($this->products as $item){ ?>
						<tr class="product-item js-product-incart"
							data-total-price="<?php show($item['thisTotalPrice']); ?>"
							data-id="<?php show($item['id']); ?>">
							<td>
								<?php show($item['name']); ?>
							</td>
							<td><span> <?php show($item['price'],0); ?>
							</span></td>
							<td><span><em class="quantity-text"> <?php show($item['quantity'],0); ?>
								</em> </span></td>
						</tr>
						<?php } ?>
						<?php } ?>
						<tr class="product-item js-total-price">
							<td>&nbsp;</td>
							<td>总计：</td>
							<td><span data-price="<?php show($this->totalPrice,0); ?>"
								id="total-price">¥<?php show($this->totalPrice,0); ?></span></td>
						</tr>
						<tr class="product-item js-go-cart">
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><a class="btn btn-danger btn-small" title="点击去结算"
								href="<?php echo $this->urlroot; ?>order/cart/g/<?php show(base64_encode($this->group['id'])); ?>/c/<?php show(base64_encode($this->category['id'])); ?>">去结算</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>