.index_bg {
	width: 1350px;
	/* height: 760px; */
	top: -40px;
	left: 0px;
	opacity: 1;
	visibility: visible;
	/* background-position: left 40px; */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #C0DEED;
	background-image: url("../img/bg.png");
	text-align: center;
	color: #292F33;
	font-size: 14px;
	line-height: 18px;
	overflow-y: scroll;
}

.top_nav {
	padding-left: 0px;
	padding-right: 0px;
}

.padding190 {
	padding-left: 190px;
	padding-right: 190px;
}

.radius0 {
	/* background: -moz-linear-gradient(center top , #086ED5, #055DB5) repeat-x scroll 0 0 #0767C8; */
	border-radius: 0px;
}

.border1 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E5E5E5;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
}

.left_sidebar {
	
}

.right_sidebar {
	
}

.global_nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	height: 46px;
	position: relative;
	width: 100%;
}

.global-nav-inner {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 46px;
}

.global-nav .container {
	max-width: 1190px;
	text-align: center;
	width: auto;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 890px;
}