<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap.min.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap-responsive.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/common.css">
<title>叶问的小店 - 小店通 - 嘻咕嘻咕</title>
<?php include('view/Public/jsconfig.html'); ?>
<style>
.show_bg {
	background-attachment: fixed;
	/* background-color: #c0deed; */
	background-color: #F6F6F6;
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	color: #292f33;
	font-size: 14px;
	left: 0;
	line-height: 18px;
	opacity: 1;
	overflow-y: scroll;
	top: -40px;
	visibility: visible;
	width: 1350px;
}
</style>
</head>
<body class="show_bg">
	<div class="container-fluid top_nav">
		<div class="row-fluid">
			<div class="span12"></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span4"></div>
					<div class="span4">

						<div class="page-header">
							<h4>
								<small>叶问的小店 </small>
							</h4>
						</div>
						<!-- <div class="alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4>提示!</h4>
							<strong>公告!</strong> 请注意你的个人隐私安全.
						</div> -->
						<div class="tabbable" id="tabs-899479">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab"
									href="#panel-473358">服务单</a></li>
								<li><a data-toggle="tab" href="#panel-430276">嘻咕秀</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="panel-473358">
									<div class="accordion" id="accordion-878106">
										<div class="accordion-group">
											<div class="accordion-heading">
												<a class="accordion-toggle collapsed" data-toggle="collapse"
													data-parent="#accordion-878106"
													href="#accordion-element-983408">选项卡 #1</a>
											</div>
											<div id="accordion-element-983408"
												class="accordion-body collapse">
												<div class="accordion-inner">
													<p>&nbsp;第一部分内容.</p>
													<p>&nbsp;第一部分内容.</p>
													<p>&nbsp;第一部分内容.</p>
													<p>&nbsp;第一部分内容.</p>
												</div>
											</div>
										</div>
										<div class="accordion-group">
											<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse"
													data-parent="#accordion-878106"
													href="#accordion-element-669190">选项卡 #2</a>
											</div>
											<div id="accordion-element-669190"
												class="accordion-body collapse">
												<div class="accordion-inner">
													<p>&nbsp;第一部分内容.</p>
													<p>&nbsp;第一部分内容.</p>
													<p>&nbsp;第一部分内容.</p>
													<p>&nbsp;第一部分内容.</p>
												</div>
											</div>
										</div>
									</div>
									<p>&nbsp;第一部分内容.</p>
								</div>
								<div class="tab-pane f-pl10" id="panel-430276">
									<div>
										<h6>&nbsp;&nbsp;&nbsp;名称</h6>
										<p>本可视化布局程序在HTML5</p>
									</div>
									<div>
										<h6>&nbsp;&nbsp;&nbsp;电话</h6>
										<p>13436951433</p>
									</div>
									<div>
										<h6>&nbsp;&nbsp;&nbsp;公告</h6>
										<p>公告公告公告公告公告公告</p>
									</div>
									<div>
										<h6>&nbsp;&nbsp;&nbsp;地址</h6>
										<p>本可视化布局程序在HTML5浏览器上运行更加完美,
											能实现自动本地化保存,即使关闭了网页,下一次打开仍然能恢复上一次的操作.</p>
									</div>
									<div>
										<h6>&nbsp;&nbsp;&nbsp;介绍</h6>
										<p>可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存,
											即使关闭了网页,下一次打开仍然能恢复上一次的操作.</p>
									</div>
									<div>
										<h6>&nbsp;&nbsp;&nbsp;互联网名片</h6>
										<p>
											<img src="..." class="img-polaroid">
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span4"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/jquery-1.8.3.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/bootstrap.min.js"></script>
</body>
</html>