<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap.min.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap-responsive.css">
<title>嘻咕嘻咕 - 秀</title>
<?php include('view/Public/jsconfig.html'); ?>
<style>
.show_bg {
	background-attachment: fixed;
	background-color: #c0deed;
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	color: #292f33;
	font-size: 14px;
	left: 0;
	line-height: 18px;
	opacity: 1;
	overflow-y: scroll;
	top: -40px;
	visibility: visible;
	width: 1350px;
}
</style>
</head>
<body class="show_bg">
	<div class="container-fluid top_nav">
		<div class="row-fluid">
			<div class="span12"></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span4">tt</div>
					<div class="span4">xx</div>
					<div class="span4">yy</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/jquery-1.8.3.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/bootstrap.min.js"></script>
</body>
</html>