<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>static/css/base.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/common.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/group.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/js/sco/css/sco.message.css">
<title></title>
<?php include('view/Public/jsconfig.html'); ?>
</head>
<body class="index_bg">
	<div class="container-fluid top_nav">
		<div class="row-fluid">
			<div class="span12">
				<?php include('view/Public/topnav.html'); ?>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>nav</strong>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8">
				<div class="row-fluid">
					<div class="span12">
						<div id="timeline" class="content-main">
							<div class="content-header">
								<div class="header-inner">
									<h2 class="">欢迎光临@嘻咕嘻咕</h2>
								</div>
								<div class="stream-container">
									<div class="stream">
										<ol class="stream-items">
											<li class="stream-item">
												<div
													class="clearfix stream-item-activity stream-item-activity-network">
													<div class="stream-item-activity-header">
														<div class="stream-item-activity-line">
															<a href="#" class=""><strong class="">选择要查看的圈子</strong></a>
														</div>
													</div>
													<ol class="activity-supplement  follow-more-than-two">
														<li class="supplement">
															<div>
																<form class="form-horizontal" id="form" method="post">
																	<div class="control-group">
																		<div class="control-label"></div>
																		<div class="controls"></div>
																	</div>
																	<div class="control-group">
																		<label class="control-label">你先要&nbsp;&gt;</label>
																		<div class="controls">
																			<select class="input-small" id="city" name="city">
																			</select> <select class="input-small" id="area" name="area">
																				<option>选择区域</option>
																			</select> <select class="input-small" id="group" name="group">
																				<option>选择圈子</option>
																			</select>
																		</div>
																	</div>
																	<hr>
																	<div class="control-group">
																		<div class="control-label"></div>
																		<div class="controls"></div>
																	</div>
																	<div class="control-group">
																		<label class="control-label"></label>
																		<div class="controls">
																			<button type="button" class="btn btn-primary"
																				id="gogogo">继续前往&gt;&gt;</button>
																		</div>
																	</div>
																</form>
															</div>
														</li>
													</ol>
												</div>
											</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="row-fluid">
					<div class="span12">
						<div class="dashboard">
							<?php include('view/Public/module.html'); ?>
							<?php include('view/Public/copyright.html'); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/jquery-1.8.3.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/bootstrap.min.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/sco/js/sco.message.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/common.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/index.js"></script>
</body>
</html>