<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>static/css/base.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/common.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/group.css">
<title>嘻咕嘻咕 - 今日订单</title>
</head>
<body class="">
	<div class="container-fluid top_nav">
		<div class="row-fluid">
			<div class="span12"></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<?php if(empty($this->details)){ ?>
			<div class="span12">暂无下单</div>
			<?php }else{ ?>
			<div class="span12">
				订单日期：
				<?php show($this->details[0]['create_date']); ?>
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="5%" style="padding: 0px; vertical-align: middle;">商品</th>
							<th width="5%" style="padding: 0px; vertical-align: middle;">份数</th>
							<th width="5%" style="padding: 0px; vertical-align: middle;">价格</th>
							<th width="5%" style="padding: 0px; vertical-align: middle;">总价</th>
							<th width="20%" style="padding: 0px; vertical-align: middle;">说明</th>
							<th width="5%"
								style="padding: 0px; vertical-align: middle;; vertical-align: middle;">客户签字</th>
						</tr>
					</thead>
				</table>
				<!-- <table class="table table-hover f-mb0">
					<tbody>
						<tr>
							<td width="5%" style="padding: 0px; vertical-align: middle;">韭菜鸡蛋</td>
							<td width="5%" style="padding: 0px; vertical-align: middle;">1</td>
							<td width="5%" style="padding: 0px; vertical-align: middle;">15</td>
							<td width="5%" style="padding: 0px; vertical-align: middle;">15</td>
							<td width="20%" rowspan="2"
								style="padding: 0px; vertical-align: middle;">
								<div>收货人：北辰泰岳大厦北辰泰岳大厦（张三）</div>
								<div>手机号：13436951433</div>
								<div>应付款：¥88</div>
							</td>
							<td width="5%" rowspan="2"
								style="padding: 0px; vertical-align: middle;"></td>
						</tr>
						<tr>
							<td style="padding: 0px; vertical-align: middle;">韭菜鸡蛋</td>
							<td style="padding: 0px; vertical-align: middle;">1</td>
							<td style="padding: 0px; vertical-align: middle;">55元1个</td>
							<td style="padding: 0px; vertical-align: middle;">¥55</td>
						</tr>
					</tbody>
				</table> -->
				<?php foreach($this->details as $detail){ ?>
				<table class="table table-hover f-mb0">
					<tbody>
						<?php foreach($detail as $k=>$item){ ?>
						<?php if(!$k){ ?>
						<tr>
							<td width="5%" style="padding: 0px; vertical-align: middle;">
								<?php show($item['good_name']); ?>
							</td>
							<td width="5%" style="padding: 0px; vertical-align: middle;">
								<?php show($item['amount']); ?>
							</td>
							<td width="5%" style="padding: 0px; vertical-align: middle;">
								¥<?php show($item['price_desc']); ?>
							</td>
							<td width="5%" style="padding: 0px; vertical-align: middle;">¥<?php show(intval($item['price'])*intval($item['amount'])); ?></td>
							<td width="20%" rowspan="2"
								style="padding: 0px; vertical-align: middle;">
								<div>
									收货人：
									<?php show(htmlentities($item['user_addr'],ENT_QUOTES,'utf-8')); ?>
									（
									<?php show(htmlentities($item['user_name'],ENT_QUOTES,'utf-8')); ?>
									）
								</div>
								<div>
									手机号：
									<?php show(htmlentities($item['user_tel'],ENT_QUOTES,'utf-8')); ?>
								</div>
								<div>
									应付款：&nbsp;¥
									<?php show($item['total_cost']); ?>
								</div>
							</td>
							<td width="5%" rowspan="2"
								style="padding: 0px; vertical-align: middle;"></td>
						</tr>
						<?php }else{ ?>
						<tr>
							<td style="padding: 0px; vertical-align: middle;">
								<?php show($item['good_name']); ?>
							</td>
							<td style="padding: 0px; vertical-align: middle;">
								<?php show($item['amount']); ?>
							</td>
							<td style="padding: 0px; vertical-align: middle;">¥<?php show($item['price_desc']); ?>
							</td>
							<td style="padding: 0px; vertical-align: middle;">¥<?php show(intval($item['price'])*intval($item['amount'])); ?></td>
						</tr>
						<?php } ?>
						<?php } ?>
					</tbody>
				</table>
				<?php } ?>
			</div>
			<?php } ?>
		</div>
	</div>
</body>
</html>