<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>static/css/base.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/common.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/group.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/js/sco/css/sco.message.css">
<title>嘻咕嘻咕 - 修改密码</title>
<?php include('view/Public/jsconfig.html'); ?>
</head>
<body class="index_bg">
	<div class="container-fluid top_nav">
		<div class="row-fluid">
			<div class="span12">
				<?php include('view/Public/topnav.html'); ?>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>nav</strong>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<div class="row-fluid">
					<div class="span12">
						<div class="dashboard">
							<?php include('view/Manage/leftnav.html'); ?>
							<?php include('view/Public/copyright.html'); ?>
						</div>
					</div>
				</div>
			</div>
			<div class="span8">
				<div class="row-fluid">
					<div class="span12">
						<div id="timeline" class="content-main">
							<div class="content-header">
								<div class="header-inner">
									<h2 class="">我的嘻咕</h2>
								</div>
								<div class="stream-container">
									<div class="stream">
										<ol class="stream-items">
											<li class="stream-item">
												<div
													class="clearfix stream-item-activity stream-item-activity-network">
													<div class="stream-item-activity-header">
														<div class="stream-item-activity-line">
															<a href="javascript:void(0);" class=""><strong
																class="">修改登录密码</strong></a>
														</div>
													</div>
													<ol class="activity-supplement  follow-more-than-two">
														<li class="supplement">
															<div>
																<form class="form-horizontal" id="passwordform"
																	method="post">
																	<div class="control-group">
																		<div class="control-label"></div>
																		<div class="controls"></div>
																	</div>
																	<div class="control-group">
																		<label class="control-label" for="curpass">当前登录密码</label>
																		<div class="controls">
																			<input id="curpass" name="curpass" type="password"
																				placeholder="当前登录密码" />
																		</div>
																	</div>
																	<div class="control-group">
																		<label class="control-label" for="passwd">新登录密码</label>
																		<div class="controls">
																			<input id="passwd" name="passwd" type="password"
																				placeholder="输入新登录密码" />
																		</div>
																	</div>
																	<div class="control-group">
																		<label class="control-label" for="cpasswd">确认新登录密码</label>
																		<div class="controls">
																			<input id="cpasswd" name="cpasswd" type="password"
																				placeholder="再次输入新登录密码" />
																		</div>
																	</div>
																	<div class="control-group">
																		<label class="control-label" for="captcha">验证码</label>
																		<div class="controls">
																			<input id="captcha" name="captcha" type="text"
																				class="input-small border1" placeholder="输入验证码" />
																			<img title="点击换一换" id="captcha_img"
																				onclick="javascript:captchachg();"
																				src="<?php echo $this->urlroot; ?>acc/captcha" /> <a
																				onclick="javascript:captchachg();" class="f-fs1"
																				href="javascript:void(0);">&nbsp;换一张?</a>
																		</div>
																	</div>
																	<div class="control-group">
																		<div class="controls">
																			<button type="submit" class="btn btn-primary">保存</button>
																		</div>
																	</div>
																</form>
															</div>
														</li>
													</ol>
												</div>
											</li>
										</ol>
									</div>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12"></div>
								<div class="span12"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/jquery-1.8.3.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/bootstrap.min.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/jquery.form.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/sco/js/sco.message.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/funcs.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/manage.js"></script>
</body>
</html>