<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>static/css/base.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/common.css">
<link rel="stylesheet"
	href="<?php echo WWW_ROOT; ?>static/css/group.css">
<link
	href="<?php echo WWW_ROOT; ?>static/js/artDialog/skins/default.css"
	rel="stylesheet" />
<title></title>
<?php include('view/Public/jsconfig.html'); ?>
</head>
<body class="index_bg">
	<div class="container-fluid top_nav">
		<div class="row-fluid">
			<div class="span12">
				<?php include('view/Public/topnav.html'); ?>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>nav</strong>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<!-- <div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">列表标题</li>
					<li class="active"><a href="#">首页</a></li>
					<li><a href="#">库</a></li>
					<li><a href="#">应用</a></li>
					<li class="nav-header">功能列表</li>
					<li><a href="#">资料</a></li>
					<li><a href="#">设置</a></li>
					<li class="divider"></li>
					<li><a href="#">帮助</a></li>
				</ul>
			</div> -->
			<div class="span8">
				<div class="row-fluid">
					<div class="span12">
						<div id="timeline" class="content-main">
							<div class="content-header">
								<div class="header-inner">
									<h2 class="">
										<a
											href="<?php show($this->urlroot); ?>g/<?php show($this->group['id']); ?>">
											<?php show($this->group['name']); ?>
										</a> &nbsp;&gt; <a
											href="<?php show($this->urlroot); ?>c/<?php show($this->category['id']); ?>">
											<?php show($this->category['name']); ?>
										</a> &gt;&nbsp;结算
									</h2>
								</div>
								<div class="stream-container">
									<div class="stream ">
										<ol class="stream-items">
											<li class="stream-item">
												<div
													class="clearfix stream-item-activity stream-item-activity-network">
													<div class="stream-item-activity-header">
														<div class="stream-item-activity-line">
															<a href="javascript:void(0);" class=""><strong
																class="">购物清单</strong></a>
														</div>
													</div>
													<ol class="activity-supplement  follow-more-than-two">
														<li class="supplement">
															<table class="table product-cart product-cart-big">
																<thead>
																	<tr>
																		<th>名称</th>
																		<th>价格</th>
																		<th>数量</th>
																		<th>操作</th>
																	</tr>
																</thead>
																<tbody>
																	<?php if(empty($this->products)){ ?>
																	<?php }else{ ?>
																	<?php foreach($this->products as $item){ ?>
																	<tr class="product-item js-product-incart"
																		data-id="<?php show($item['id']); ?>"
																		data-total-price="<?php show($item['thisTotalPrice']); ?>">
																		<td>
																			<?php show($item['name']); ?>
																		</td>
																		<td>¥<span> <?php show($item['price'],0); ?>
																		</span>(<span> <?php show($item['price_num'],0); ?>
																		</span> <?php show($item['price_unit']); ?>)
																		</td>
																		<td><a class="js-decrement"
																			href="javascript:void(0);"
																			data-id="<?php show($item['id']); ?>"
																			data-price="<?php show($item['price'],0); ?>">-</a> <span>&nbsp;<em
																				class="quantity-text"> <?php show($item['quantity'],0); ?>
																			</em>&nbsp;
																		</span> <a class="js-increment" href="javascript:void(0);"
																			data-id="<?php show($item['id']); ?>"
																			data-price="<?php show($item['price'],0); ?>">+</a></td>
																		<td><small><a href="javascript:void(0);"
																				class="js-rm-product"
																				data-id="<?php show($item['id']); ?>">删除</a></small></td>
																	</tr>
																	<?php } ?>
																	<?php } ?>
																	<tr class="product-item js-total-price">
																		<td>&nbsp;</td>
																		<td>&nbsp;</td>
																		<td>总计：</td>
																		<td><span
																			data-price="<?php show($this->totalPrice,0); ?>"
																			id="total-price">¥<?php show($this->totalPrice,0); ?></span></td>
																	</tr>
																</tbody>
															</table>
														</li>
													</ol>
												</div>
											</li>
											<li class="stream-item">
												<div
													class="clearfix stream-item-activity stream-item-activity-network">
													<div class="stream-item-activity-header">
														<div class="stream-item-activity-line">
															<a href="javascript:void(0);" class=""><strong
																class="">配送信息</strong></a>
														</div>
													</div>
													<ol class="activity-supplement  follow-more-than-two">
														<li class="supplement f-lh30 f-fs1"><a>支付方式：货到付款</a></li>
														<li class="supplement f-lh30 f-fs1"><a>配送时间：</a></li>
														<li class="supplement f-lh30 f-fs1"><a>配送方：</a></li>
													</ol>
												</div>
											</li>
											<li class="stream-item">
												<div
													class="clearfix stream-item-activity stream-item-activity-network">
													<div class="stream-item-activity-header">
														<div class="stream-item-activity-line">
															<a href="javascript:void(0);" class=""><strong
																class="">收货信息</strong></a>
														</div>
													</div>
													<ol class="activity-supplement  follow-more-than-two">
														<li class="supplement f-ib">
															<div class="control-group">
																<label class="f-fs1">收货人：</label>
																<div class="controls">
																	<input class="input-small" name="" id="" type="text"
																		placeholder="常用手机号码">&nbsp;<input
																		class="input-small" name="" id="" type="text"
																		placeholder="收货人姓名">
																</div>
																<label class="f-fs1">详细地址：</label>
																<div class="controls">
																	<span class="input-small uneditable-input"> <?php show($this->group['name']); ?>
																	</span>&nbsp;<input class="input-medium js-addr-desc"
																		name="addr_desc" id="addr_desc" type="text"
																		placeholder="如：B座3号楼4层"> <span
																		class="help-block f-fs1">填写详细位置，以便我们更好的找到你，<span
																		class="js-addr-desc">如：B座3号楼4层</span></span>
																</div>
															</div>
														</li>
														<li class="supplement"><a href="javascript:void(0);"
															class="btn btn-danger btn-small">提交订单</a></li>
													</ol>
												</div>
											</li>
											<!-- <li class="stream-item">
												<div
													class="clearfix stream-item-activity stream-item-activity-network">
													<div class="stream-item-activity-header">
														<div class="stream-item-activity-line">
															<a href="javascript:void(0);" class=""><strong
																class="">收货人</strong></a>
														</div>
													</div>
													<ol class="activity-supplement  follow-more-than-two">
														<li class="supplement f-ib">
															<div class="control-group">
																<div class="controls">
																	<input class="input-small" name="" id="" type="text"
																		placeholder="常用手机号码">&nbsp;<input
																		class="input-small" name="" id="" type="text"
																		placeholder="收货人姓名">
																</div>
															</div>
														</li>
													</ol>
												</div>
											</li> -->
											<!-- <li class="stream-item">
												<div
													class="clearfix stream-item-activity stream-item-activity-network">
													<div class="stream-item-activity-header">
														<div class="stream-item-activity-line">
															<a href="javascript:void(0);" class=""><strong
																class="">收货地址</strong></a>
														</div>
													</div>
													<ol class="activity-supplement  follow-more-than-two">
														<li class="supplement f-ib">
															<div class="control-group">
																<div class="controls">
																	<span class="input-small uneditable-input"> <?php show($this->group['name']); ?>
																	</span>&nbsp;<input class="input-medium js-addr-desc"
																		name="addr_desc" id="addr_desc" type="text"
																		placeholder="如：B座3号楼4层"> <span
																		class="help-block f-fs1">填写详细位置，以便我们更好的找到你，<span
																		class="js-addr-desc">如：B座3号楼4层</span></span>
																</div>
															</div>
														</li>
													</ol>
												</div>
											</li> -->
										</ol>
									</div>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12"></div>
								<div class="span12"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="row-fluid">
					<div class="span12">
						<div class="dashboard">
							<?php include('view/Public/module.html'); ?>
							<?php include('view/Public/copyright.html'); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row-fluid">
			<div class="span12">footer</div>
		</div> -->
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/jquery-1.8.3.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="<?php echo WWW_ROOT; ?>static/js/bootstrap.min.js"></script>
	<script
		src="<?php echo WWW_ROOT; ?>static/js/artDialog/artDialog.min.js"></script>
	<script src="<?php echo WWW_ROOT; ?>static/js/order.js"></script>
</body>
</html>